*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*login*/
.section1{  /*screen1*/
    
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    background: url(fondo3.png) no-repeat center top;
    background-size: cover;

}
    .login{
    width: 420px;
    height: 500px;
    background:#e8e8e8e1;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    
}
    .img-logo{
    width: 300px;
    padding-left: 5px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center; 
    
}


.field{
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
     
}
.text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    display: flex;
}
  
.textarea{
    width: 335px;
    height: 40px;
    border: rgb(255, 255, 255);
}
.text1{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
    display: flex;
    flex-direction: row-reverse;
    margin-left: 130px;
   
}
.text2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    display: flex;
    justify-content: center;

}
    
.login button {

    width: 335px;
    height: 40px;
    margin-top: 10px;
    background: #3897F0;
    border-radius: 7px;
    border: #3897F0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 10px;
    
    /*texto*/
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center; 
    justify-content: center;
}
/* Header */

header{

    width: 100%;
    height:500px;
    display: flex;
    flex-direction: column;
    background: url(childs.jpg) no-repeat center top;
    background-position: center;
    background-size: cover; 
   
}

@media only screen and (max-width: 767px) {
    header{
        display: flex;
        background: url(childs.jpg) no-repeat center;
        background-size: 150%;
        width: auto;
        height: 250px; 
    }
     
    }

nav{
    width: 100%;
    /* position: fixed; */
    box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
    display: flex;  
  }
  
  .nav1{
    background: transparent;
    height: 80px;
    color:#fff;
    display: flex;  
  }
  
  .nav2{
    background: var(--fondo);
    height:100px;
    color:#000;
    display: flex;  
  }
  
  .contenedor-nav{
   
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height:inherit;
    overflow: hidden;
    
  } 

  
@media only screen and (max-width: 767px) {
    .contenedor-nav{
 width: 100%;
 /* height: 70%; */
}
    }

   nav .enlaces {
  
    padding: 5px 0;
    font-size: 500px;
    font-weight: 300;
    display: flex;
  
  } 

  .btn-header{
    text-rendering: auto; 
    color: #002F54;
    background-color: rgba(255, 255, 255, 0);
    font: 500 20px Arial;
    padding: 3px 3px;
    margin: 3px;
    border-width: 2px;
    border-style: outset;
    border-color: transparent;
    border-image: none;
    display: flex;
    justify-content: center;
    /* width: 100px;
    height: 40px; */
    
}

@media only screen and (max-width: 767px) {
    .btn-header{
        font: 400 15px Arial;
        padding: 0px 0px;
    }
}

.logo, .logo img{ 
    
    height: 150px;
    display: flex;
    
   
}
@media only screen and (max-width: 767px) {
    .logo, .logo img{
    height: 100%;     
    }
}
/* .icono{
  display:none;
  font-size: 24px;
  padding: 23.5px 20px;
  
} */
    
.textos{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color:#002F54;
    overflow: hidden;
    text-align: center;
  }
  
  .textos>h1{font-size:50px;;}
  
  .textos>h2{font-size: 30px; font-weight: 300;}

  
@media only screen and (max-width: 767px) {
    
    .textos{
        width: 100%;
        height: 100%;
        display:flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        color:#002F54;
        overflow: hidden; 
        text-align: center;
    }
    .textos>h1{font-size:25px;}
  
    .textos>h2{font-size:25px; font-weight: 300;}
  
}


/*Segunda página*/
.section2{                        /*,.section3, .section4, .section5*/  /*screen2*/

    width: 100%;
    height:400px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-size: cover;
    
}


.peru,.brasil,.chile,.mexico{

    width: 244px;
    height: 91px;
    
    color: #fff;
    font-weight: 500;
    font-size: 30px;
    line-height: 42px;
  
    align-content: center;
   
    justify-content: center;
    background: #002F54;
    mix-blend-mode: normal;
    /* color de fondo */
    
    border: 4px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 28px;
}

@media only screen and (max-width: 767px) {
    .peru,.brasil,.chile,.mexico{

        width: 200px;
        height: 60px;
        
    }
}

@media only screen and (max-width: 767px) {
.paises{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
}

.indicador{

display: flex;
flex-direction:	column; 
flex-wrap:nowrap;	 
justify-content:center;	 
align-items:center;	 
align-content:stretch;

}

@media only screen and (max-width: 767px){
 .indicador{
    display: flex;
    width: 50px;
    flex-wrap:nowrap;	 
    justify-content:center;	 
    align-items:center;	 
    align-content:stretch;
    padding-left: 30px;
    
 }   
}
.text{
    font: 600 18px Arial;
    color: rgb(0, 48, 84);
    margin-top: 20px;
}
.indicadores{
    

    width: 500px;
    height: 30px;
    margin: 2%;
    background: rgba(222, 222, 222, 0.33);
    /* color 1 */
    border: 2px solid #3897f0;
    box-sizing: border-box;
    border-radius: 15px;
    color: rgba(0, 48, 84, 0.651);
    text-align: center;
    font: 500 14px Arial;
    text-align-last: center;
 } 
 @media only screen and (max-width: 767px){
    .indicadores{
    justify-content: center;
    margin-left: 300px;
    width: 300px;
    }
    }

.data1{
   
    justify-content: space-between;
    display: flex;
}
 
.fecha1{
    width: 100px;
    height: 30px;
    margin: 10px; 
    background: rgba(222, 222, 222, 0.33);
    /* color 1 */
    border: 2px solid #3897f0;
    box-sizing: border-box;
    border-radius: 15px;
    color: rgba(0, 48, 84, 0.959);
    text-align: center;
    font: 600 14px Arial;
    text-align-last: center;
    display: flex;
    padding-left: 10px;
}
.fecha2
{
width: 100px;
height: 30px;
margin: 10px; 
background: rgba(222, 222, 222, 0.33);
/* color 1 */
border: 2px solid #3897f0;
box-sizing: border-box;
border-radius: 15px;
color: rgba(0, 48, 84, 0.959);
text-align: center;
font: 600 14px Arial;
text-align-last: center;
display: flex;
padding-left: 10px;

}
.name1{
    color: rgb(0, 48, 84);
    display: flex;
    flex-wrap:nowrap;	 
    align-items:center;	 
    padding-left: 40px;
    font: 600 18px Arial;
}
 .name{
    color: rgb(0, 48, 84);
    display: flex;
    flex-wrap:nowrap;	 
    align-items:center;	 
    padding-left: 40px;
    font: 600 18px Arial;
 }

.buscar{
    width: 100px;
    height: 30px;
    margin: 30px; 
    background: rgba(222, 222, 222, 0.33);
    /* color 1 */
    border: 2px solid #3897f0;
    box-sizing: border-box;
    border-radius: 15px;
    color: rgba(0, 48, 84, 0.959);
    text-rendering: auto; 
    font: 600 14px Arial;
    justify-content: center;
    display: flex;

}
.section3{
    display: flex;
    flex-direction:	column; 
    flex-wrap:nowrap;	 
    justify-content:center;	 
    align-items:center;	 
    align-content:stretch;

}

.orden{
    width: 150px;
    height: 30px;
    margin: 2px; 
    /* color 1 */
    border: 2px solid #3897f0;
    background: rgba(222, 222, 222, 0.33);
    box-sizing: border-box;
    border-radius: 15px;
    color: rgba(0, 48, 84, 0.651);
    text-rendering: auto; 
    font: 500 14px Arial;
    justify-content: center;
    display: flex;
    text-align-last: center;

}


.section4{
    display: flex;
    flex-direction:	column; 
    flex-wrap:nowrap;	 
    justify-content:center;	 
    align-items:center;	 
    align-content:stretch;

}

.seleccionar{
    width: 100px;
    height: 30px;
    margin: 20px; 
    background: rgba(222, 222, 222, 0.33);
    /* color 1 */
    border: 2px solid #3897f0;
    box-sizing: border-box;
    border-radius: 15px;
    color: rgba(0, 48, 84, 0.959);
    text-rendering: auto; 
    font: 600 14px Arial;
    justify-content: center;
    display: flex;
}
/* .imagenpie{
    background-image: url(childs.jpg);
    display: flex;
    flex-flow: row nowrap;
} */
   
.ocultar{
    display: none;
} 